
[Desktop Entry]
Type=Application
Version=0.0.1
Name=Learn To Touch Type Keys
Comment=For near-absolute beginners
Encoding=UTF-8
Categories=GTK;Education;Utility
Exec=learntotouchtypekeys
Icon=learntotouchtypekeys
Terminal=false
StartupNotify=true
